@page "/character"
@using DeadlockCalculator.Models
@inject HttpClient Http

<h3>Character Page</h3>
@if (characters == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var character in characters)
    {
        <NavLink href="@($"/character/{character.Name}")">Character Name: @character.Name</NavLink>
    }

}



@code {
    private Character[]? characters;

    protected override async Task OnInitializedAsync()
    {
        characters = await Http.GetFromJsonAsync<Character[]>("data/character.json");
    }

    @* private void LevelUpCharacter()
    {
        character?.LevelUp();
    } *@

}