@page "/character"
@using DeadlockCalculator.Models
@inject HttpClient Http
@inject CharacterService CharacterService
@inject NavigationManager NavManager

<h3>Character Page</h3>
@if (characters == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var character in characters)
    {
        <button @onclick="() => SelectCharacter(character)">Character Name: @character.Name</button>
        <br/>
    }

}



@code {
    private List<Character>? characters;

    protected override async Task OnInitializedAsync()
    {
        await CharacterService.LoadAsync();
        characters = CharacterService.GetAllCharacters();
    }

    public void SelectCharacter(Character character)
    {
        CharacterService.SetSelected(character);
        NavManager.NavigateTo($"/character/{character.Name}");
    }

}