@page "/character/{name}"
@using DeadlockCalculator.Models
@inject CharacterService CharacterService
<style>
.container {
  display: grid;
grid-template-columns: auto auto; 
  grid-template-rows: repeat(4, auto); 
  background-color: dodgerblue;
  padding: 10px;
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
</style>

@if (character == null)
{
    <p>No character found.</p>
}
else
{
    <p>Name: @character.Name</p>
    <p>Boon: @character.Boon</p>

    <h3>Gun Stats:</h3>
    <br />
    <div class="container">
        <div>Bullet Damage: @character.GunStats.BulletDamage</div>
        <div>Bullet Per Second @character.GunStats.BulletPerSecond</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
    </div>
    <br />
    <h3>Vitality Stats:</h3>
    <br />
    <div class="container">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
    </div>
    <h3>Spirit Stats:</h3>
    <br />
    <div class="container">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
    </div>
}

@code {
    [Parameter]
    public string Name { get; set; } = default!;

    private Character? character;

    protected override void OnInitialized()
    {
        character = CharacterService.GetAllCharacters().FirstOrDefault(c => c.Name == Name);
    }
}